# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Mobile app ignores
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts
mobile/.kotlin/
mobile/android/
mobile/ios/
mobile/.metro-health-check*

# Backend ignores
backend/__pycache__/
backend/.env
backend/venv/
backend/.pytest_cache/
backend/alembic/versions/*.pyc

# General
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
backend/db_connection.txt
backend/.env
